
.DS_Store
UniWeather.xcodeproj/project.xcworkspace/xcuserdata/rudi.xcuserdatad/UserInterfaceState.xcuserstate
UniWeather.xcodeproj/project.xcworkspace/xcuserdata/rudi.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
